@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5; /* Background abu-abu khas marketplace */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}